/* Font Imports */

@font-face{
	font-family: Nexa;
	src:url(../fonts/nexa/nexa_light.otf);
}
@font-face{
	font-family: Nexa;
	font-weight:bold;
	src:url(../fonts/nexa/nexa_bold.otf);
}
@font-face{
	font-family: Nexa Slab;
	src:url(../fonts/nexaslab/nexa_slab_regular.otf);
}
@font-face{
	font-family: Nexa Slab;
	font-weight: bold;
	src:url(../fonts/nexaslab/nexa_slab_bold.otf);
}

/* SASS variables */

$font-size-root: 18px;
$font-strong: #333;
$font-normal: #566b78;
$background-light: #f5f7f9;
$orange: #E95420;
$blue: #7AD0ED;
$spacer: 1rem;

/* Secondary SASS variables */

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$heading-margin-bottom: ($spacer / 2);

/* Basic Styling */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $font-size-root;
}

body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Nexa", "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2rem $spacer;
  color: $font-normal;
}

h1{
  font-size: $font-size-h1;
}

h2{
  font-size: $font-size-h2;
}

h3{
  font-size: $font-size-h3;
}

h4{
  font-size: $font-size-h4;
}

h5{
  font-size: $font-size-h5;
}

h6{
  font-size: $font-size-h6;
}

h1, h2, strong {
  color: $font-strong;
}

h1, h2, h3, h4, h5, h6{
  font-family: Nexa Slab;
  margin-bottom: $heading-margin-bottom;
}

p,h1,h2,h3,h4,h5,h6{
	color:inherit;
}

a {
  color: $orange;
  text-decoration: none;
}

/* Text Utilities */

.text-2x{
  font-size: 2*$spacer;
}

.text-orange{
  color: $orange;
}

.mt-2{
  margin-top: $spacer*2;
}

.list-unstyled{
 padding: 0;
 margin: 0;
 list-style: none;
}

/* Cards */

.card {
  display: block;
  padding: $spacer;
  margin-top: ($spacer / 2);
  margin-bottom: ($spacer / 2);
}

.card-full{
  background-color: $background-light;
}

/* Page Design */

.section{
	margin-top: 2*$spacer;
	margin-bottom: 2*$spacer;
	padding: 1*$spacer;
}
.section-orange{
	color:white;
	background-color: $orange;
	border-radius: 2px;
}
.section-orange a{
  color: white;
  text-decoration: underline;
}

.list-items li{
  font-size: 1.5*$spacer;
}

.footer{
	padding-top: 2*$spacer;
	padding-bottom: 2*$spacer;
	text-align: center;
}

/* Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fade {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fade;
  animation-name: fade;
}
