@font-face{
	font-family: Nexa;
	src:url(../fonts/nexa/nexa_light.otf);
}
@font-face{
	font-family: Nexa;
	font-weight:bold;
	src:url(../fonts/nexa/nexa_bold.otf);
}
@font-face{
	font-family: Nexa Slab;
	src:url(../fonts/nexaslab/nexa_slab_regular.otf);
}
@font-face{
	font-family: Nexa Slab;
	font-weight: bold;
	src:url(../fonts/nexaslab/nexa_slab_bold.otf);
}
html {
	width: 100%;
	height: 100%;
}
body {
  width: 100%;
  height: 100%;
	font-family: Nexa;
}
p,h1,h2,h3,h4,h5,h6{
	color:inherit;
}
h1,h2,h3,h4,h5,h6{
	font-family: Nexa Slab;
}
.section{
	padding-top: 3em;
	padding-bottom: 3em;
	min-height: 100%;
	min-width: 100%;
}
.link-normal a{
	color:inherit;
	text-decoration: underline;
}
.carousel-control.left, .carousel-control.right {
	background-image: none
}
.img-profile{
	max-width: 25%;
	margin: auto;
}
.social-buttons{
  border: 1px solid #d8dee9;
  border-radius: 290486px;
  color: #b0bfc7;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
	display: block;
  margin-bottom: 1em;
}
.footer{
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}
.footer-text{
	font-size: 1.5em;
}
