:target:before {
	content:"";
	display:block;
	height:100px;
	margin:-100px 0 0;
}
html {
	width: 100%;
	height: 100%;
}
body {
    width: 100%;
    height: 100%;
		position: relative;
}
p,h1,h2,h3,h4,h5,h6{
	color:inherit;
}
.bg-info, .bg-success{
	color:white;
}
.well, .panel{
	color:black;
}
.section{
	padding-top:50px;
	padding-bottom:50px;
	min-height: 100%;
	min-width: 100%;
}
.footer{
	padding-top: 10px;
	padding-bottom: 20px;
}
.link-normal a{
	color:inherit;
}
.link-underline a{
	color:inherit;
	text-decoration: underline;
}
.carousel-control.left, .carousel-control.right {
		background-image: none
}
.vertical-align{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
