@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-color: #e95420;
}

.link.link-muted {
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
    text-decoration-color: currentColor;
}

.enable-colored-links {
    .link-uw {
        text-decoration-color: #4A2E83;
    }

    .link-ucla {
        text-decoration-color: #2774AE;
    }

    .link-neu {
        text-decoration-color: #C8102E;
    }

    .link-czi {
        text-decoration-color: #FF414B;
    }

    .link-fb {
        text-decoration-color: #1778F2;
    }

    .link-aws {
        text-decoration-color: #FF9900;
    }

    .link-adobe {
        text-decoration-color: #FA0E00;
    }

    .link-booz {
        text-decoration-color: #03807E;
    }

    .link-audionotch {
        text-decoration-color: #FF7700;
    }

    .link-tla {
        text-decoration-color: #5EDA12;
    }

    .link-acm {
        text-decoration-color:#1E6CFF;
    }

    .link-beam {
        text-decoration-color: #C3ECFF;
    }

    .link-jtd {
        text-decoration-color: #7253ed;
    }

    .link-black {
        text-decoration-color: #000;
    }

}

.img-silhouette {
    padding: 0.20rem;
    background-color: #e95420;
    position: relative;
    top: -0.7rem;
    left: -0.7rem;
}

.img-silhouette-shift {
    position: relative;
    top: 0.7rem;
    left: 0.7rem;
}

.handwave {
    animation-name: handwave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
    margin-right: 0.5em;
}

@keyframes handwave {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(-10.0deg)
    }

    20% {
        transform: rotate(12.0deg)
    }

    30% {
        transform: rotate(-10.0deg)
    }

    40% {
        transform: rotate(9.0deg)
    }

    50% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}
