/* Fonts. Boring. */

@font-face {
	font-family: Nexa;
	src: url(../fonts/nexa/nexa_light.otf)
}

@font-face {
	font-family: Nexa;
	font-weight: 700;
	src: url(../fonts/nexa/nexa_bold.otf)
}

@font-face {
	font-family: Nexa Slab;
	src: url(../fonts/nexaslab/nexa_slab_regular.otf)
}

@font-face {
	font-family: Nexa Slab;
	font-weight: 700;
	src: url(../fonts/nexaslab/nexa_slab_bold.otf)
}

body {
	font-family: Nexa, Roboto, Helvetica, Arial, sans-serif;
}

.link-white{
	text-decoration: underline;
}

.list-items {
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	list-style: none;
}

:root {
	--animation1-percent1: -100%;
	--animation1-percent2: -100%;
	--animation2-percent1: 100%;
	--animation2-percent2: 100%;
}
@media only screen and (min-width: 768px) {
	/* This is me playing around with what I think is a cool CSS animation. We'll see whether or not this is actually a good idea. Basically, I set defaults the translation, but then I also change the CSS variable (if supported) randomly on page load. And of course I disabled it on mobile, it looks terrible there. */
	@keyframes slide1 {
		from {
			transform: translate3d(-100%, -100%, 0);
			transform: translate3d(var(--animation1-percent1), var(--animation1-percent2), 0);
			visibility: visible;
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}

	@keyframes slide2 {
		from {
			transform: translate3d(100%, 100%, 0);
			transform: translate3d(var(--animation2-percent1), var(--animation2-percent2), 0);
			visibility: visible;
		}

		to {
			transform: translate3d(0, 0, 0);
		}
	}
	/* I could probably have better variable names here, right? */
	.slide1 {
		animation-name: slide1;
		animation-duration: 1.25s;
		animation-fill-mode: both;
		display: inline-block;
	}

	.slide2 {
		animation-name: slide2;
		animation-duration: 1.25s;
		animation-fill-mode: both;
		display: inline-block;
	}
}

/* The keyframes + class for the heartbeat animation I use across the site. */
@keyframes heartbeat {
	0% {
		transform: scale(0.75);
	}
	25% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.75);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.75);
	}
}

.animated-heartbeat {
	animation: heartbeat 2s infinite;
}
